/*================
 stylesheets  
 =================*/

/* import google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Utilities  */
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Commons Classes */

.container{
    max-width: 1200px;
    margin: auto;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.circle-shape{
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
}
.colorize{
    color: #E02C6D;
}
/* ============================
Overall Stylesheets Design 
==============================*/


/* header  */
#header{
    position: relative;
    padding: 1.6rem 0rem;
    
}
nav.navbar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}
.navbar .humberger{
    position: relative;
    font-size: 1.8rem;
    user-select: none;
    cursor: pointer;
    display: none;
}
.navbar a.logo{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    position: relative;
    color: #3A3A3A;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.navbar a.logo i{
    margin-right: .5rem;
}
#checkbox{
    display: none;
}
.primary-menu{
    position: relative;
}
.primary-menu ul{
    display: flex;
    align-items: flex-start;
    position: relative;
}
.primary-menu a{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-right: 34px;
    transition: all 0.5s ease;
}
.primary-menu a:hover{
    color: #E02C6D;
}
.primary-menu li:last-child a{
    padding-right: 0px;
}
.primary-menu i{
    font-size: 25px;
}
.cart {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* hero  */
.hero{
    position: relative;
    overflow: hidden;
}
.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 80vh;
}
.hero-content .hero-text{
    width: 45%;
    position: relative;
}
.hero-text .hero-text__title{
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 1rem;
    color: #3A3A3A;
}
.hero-text .hero-text__desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #3A3A3A;
}
.hero-text .hero-text__btn{
    background: #E02C6D;
    color: #fff;
    border-radius: 41px;
    align-items: center;
    display: inline-flex;
    font-weight: 600;
    padding: 10px 24px;
    font-size: 16px;
    box-shadow: 0px 6.7px 5.3px rgba(0, 0, 0, 0.02),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.03),
    0px 100px 80px rgba(0, 0, 0, 0.05);
    line-height: 24px;
    margin-top: 1.5rem;
    transition: all 0.3s ease;
}
.hero-text__btn:hover{
    background: #d6346f;
}
.hero-text__btn:active {
    transform: translateY(5px);
}
.hero-text__btn i{
    font-size: 1.2rem;
    margin-left: .9rem;
}
.hero-content .hero-image{
    position: relative;
}
.hero-image .main-image {
   animation: updown 2s linear infinite;
}
.hero-image .circle-shape {
    animation: rotate 2s linear infinite;
}
@keyframes updown {
  50%{
        transform: translateY(20px);
    }
}
@keyframes rotate {
    50% {
        transform: rotate(360deg) scale(1.03);
    }
}


/*==================
 Main part start here  
 ====================*/

 #main{
     position: relative;
 }

 /* logos  */
 .logos{
     position: relative;
 }
 .logos-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
     position: relative;
     align-items: center;
     border-bottom: 3px solid;
     border-top: 3px solid;
     border-image: linear-gradient(transparent , rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.931), transparent );
     border-image-slice: 2;
     padding: 2rem 0rem;
 }

 /* popular collections  */

 .products{
     position: relative;
     padding-top: 70px;
 }
 .products .seemore-btn{
     color: #d6346f;
     padding: 2rem 0rem;
     text-align: right;
     font-weight: bold;
     font-size: 1.1rem;
     display: flex;
     align-items: center;
     justify-content: flex-end;
 }
 .seemore-btn i{
     font-size: 1.6rem;
 }
 .products-title{
     text-align: center;
     font-weight: 600;
     font-size: 25px;
     line-height: 70px;
     color: #3A3A3A;
     margin-bottom: 4rem;
 }
 .products-content{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 30px;
     position: relative;
 }
 .products-content .product{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 19px;
 }
 .product img{
     width: 100%;
 }
 .product .product-details{
     position: relative;
     padding: .6rem;
 }
 .product-details .product__title{
     font-size: 1.4rem;
 }
 .product-details .product__price{
     color: #d6346f;
     display: block;
     margin: .3rem 0rem;
     font-weight: bold;
 }
 .product-details .price-ratings{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .product-details .product__ratings {
     display: flex;
     align-items: center;
     
 }
 .product__ratings .stars i{
     color: #d6346f;
 }
 .product__ratings .num{
     margin-left: .5rem;
     color: rgb(93, 93, 93);
 }
 p.product__desc{
     font-size: .9rem;
     margin: .1rem 0rem;
     color: #344;
 }

 .product-details .product__buybtn{
     padding: .4rem 1rem;
     display: inline-block;
     background: #d6346f;
     color: #fff;
     border-radius: 40px;
     margin-top: .6rem;
     font-size: .9rem;
 }